In [2]:
%pip install pandas -q

Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

deaths = pd.read_csv('data/weekly_deaths_per_million.csv')
searches = pd.read_csv('data/covid data - weeklysearch rates in 25 countries [google_trends].tsv', sep='\t')

In [7]:
deaths.head()

,date,World,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,...,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Western Sahara,Yemen,Zambia,Zimbabwe
0,2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
searches.head()

,Week,Germany,Brazil,Peru,Bolivia,Mexico,United Arab Emirates,Israel,South Africa,India,...,United States,Canada,Italy,France,Belgium,Netherlands,Finland,Denmark,Norway,Sweden
0,05/01/2020,0.01,0.01,0.00,0.00,0.01,0.01,0.00,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
1,12/01/2020,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
2,19/01/2020,2.00,1.00,2.00,3.00,5.00,2.00,1.00,1.00,1.00,...,3.00,4.00,2.00,1.00,1.00,1.00,3.00,1.00,1.00,1.00
3,26/01/2020,11.00,6.00,6.00,8.00,4.00,16.00,5.00,8.00,4.00,...,8.00,14.00,13.00,3.00,3.00,5.00,7.00,4.00,6.00,7.00
4,02/02/2020,6.00,2.00,3.00,7.00,3.00,9.00,7.00,7.00,4.00,...,5.00,7.00,6.00,2.00,3.00,4.00,3.00,3.00,3.00,5.00